/* .change-pw-body {
    margin-left: 330px;
    padding-top: 30px;
}

.change-pw-body p {
    margin: 0;
    color: #1D1E18;
}

h1, p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #DF3E43;
    margin-bottom: 30px;
}

.return-to-profile {
    margin-bottom: 30px;
    fill: #1D1E18;
}

.return-to-profile:hover {
    fill: #DF3E43;
}

.change-pw-div {
    margin-bottom: 20px;

    display: flex;
    flex-flow: column nowrap;
}

.change-pw-div label {
    font-weight: 600;
    margin-bottom: 10px;
}

.change-pw-div input {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(190, 190, 190, .5);
    border-radius: 4px;
}

.change-pw-div input {
    height: 40px;
    width: 400px;
}

.change-pw-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    padding-top: 30px;
    width: 420px;
}

.change-pw-buttons .button {
    height: 40px;
    width: 160px;
    border-radius: 20px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.button p {
    font-weight: 500;
    color: #FFF;
}

.cancel-pw {
    background-color: #DF3E43;
    width: 190px;
}

.cancel-pw:hover {
    background-color: #E0565A;
}

.save-pw {
    margin-left: 20px;
    background-color: #489FB3;
    width: 120px;
    
}

.save-pw:hover {
    background-color: #72ABB8;
} */
.change-pw-body {
    margin-left: 330px;
    padding-top: 30px;
}

.change-pw-body p {
    margin: 0;
    color: #1D1E18;
}

.change-pw-body h1, .change-pw-body p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.change-pw-body h1 {
    color: #DF3E43;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
}

.return-to-profile {
    margin-bottom: 30px;
    fill: #1D1E18;
}

.return-to-profile:hover {
    fill: #DF3E43;
}

.change-pw-div {
    margin-bottom: 20px;

    display: flex;
    flex-flow: column nowrap;
}

.change-pw-div label {
    font-weight: 600;
    margin-bottom: 10px;
}

.change-pw-div input {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(190, 190, 190, .5);
    border-radius: 4px;
}

.change-pw-div input {
    height: 40px;
    width: 400px;
}

.change-pw-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    padding-top: 30px;
    width: 420px;
}

.change-pw-buttons .button {
    height: 40px;
    width: 160px;
    border-radius: 20px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.button p {
    font-weight: 500;
    color: #FFF;
}

.cancel-pw {
    background-color: #DF3E43;
    width: 190px;
}

.cancel-pw:hover {
    background-color: #E0565A;
}

.save-pw {
    margin-left: 20px;
    background-color: #489FB3;
    width: 120px;
    
}

.save-pw:hover {
    background-color: #72ABB8;
}

@media screen and (max-width: 1040px) {

    .change-pw-body {
        margin-left: 120px;
    }

}

@media screen and (max-width: 768px) {

    .change-pw-body {
        margin-left: 100px;
        margin-right: 30px;
    }

    .change-pw-div input {
        width: 90%;
    }

    .change-pw-buttons {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
        width: 90%;
    }

    .change-pw-buttons .button {
        margin: 0;
        width: 100%;
    }

    .cancel-pw {
        margin-bottom: 10px!important;
    }

}