.latestCont {
    height: 140px;
    display: grid !important;
    grid-template-rows: 90px 50px;
}

.latestCont h1 {
    margin: 30px 50px 0 0;
    font-size: 14pt;
    width: 300px;
}

.latestCont-p {
    display: grid;
    grid-template-columns: auto 1fr;
}

.latestCont-p p {
    margin: 0;
    font-size: 10pt;
}

.latestCont-p .subheading {
    color: #6DB3C5;
}

.latestCont-p p:last-of-type {
    padding-left: 10px;
}

/* @media only screen and (max-width: 1500px) {

    .latestCont h1 {
        font-size: 14pt;
        margin-top: 36px;
    }

    .latestCont-p p {
        font-size: 10pt;
    }
   
} */

@media only screen and (max-width: 1500px) {

    .latestCont {
        grid-template-rows: 70px 70px;
    }

    .latestCont h1 {
        margin-top: 20px;
        width: 240px;
    }

    .latestCont-p {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 16px auto;
    }

    .latestCont-p p:last-of-type {
        margin-top: 2px;
        padding-left: 0;
    }

}

@media only screen and (max-width: 1160px) {

    .latestCont {
        height: 160px;
        grid-template-rows: 80px 80px;
        margin-left: 100px;
    }

}

@media only screen and (max-width: 960px) {

    .latestCont {
        height: 80px;
        grid-template-rows: 20px 60px;
    }

    .latestCont h1 {
        align-self: center;
        width: 100%;
    }

    .latestCont-p {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .latestCont-p p:last-of-type {
        margin-top: 0;
        padding-left: 10px;
    }

}

@media only screen and (max-width: 500px) {

    .latestCont {
        margin-left: 30px;
    }

    .latestCont {
        height: 120px;
        grid-template-rows: 70px;
    }

    .latestCont h1 {
        font-size: 12pt;
        width: 80%;
    }

}